.contenedor-formulario {
    background-color: #F8FAF8;
    padding: 30px 40px;
    border-radius: 10px;
    border: 3px solid black;
    box-shadow: 0 15px 35px rgba(77, 77, 77, 0.25);
    width: 100%;
    max-width: 450px;

    /* ✅ Centrado correcto */
    margin: 50px auto 20px auto;
}

.contenedor-formulario h2 {
    color: #000000;
    text-align: center;
    margin-bottom: 8px;
}

.contenedor-formulario p {
    color: #777;
    text-align: center;
    margin-bottom: 30px;
    font-size: 0.9em;
}

.campo-formulario {
    margin-bottom: 18px;
}

.campo-formulario label {
    display: block;
    margin-bottom: 6px;
    font-weight: 600;
    color: #555;
    font-size: 0.9em;
}

.campo-formulario input[type="text"],
.campo-formulario input[type="email"],
.campo-formulario input[type="tel"],
.campo-formulario select,
.campo-formulario textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1em;
    color: #333;
    transition: border-color 0.3s, box-shadow 0.3s;
}

.campo-formulario input:focus,
.campo-formulario select:focus,
.campo-formulario textarea:focus {
    border-color: #047E2B;
    box-shadow: 0 0 8px rgba(rgb(0, 106, 117));
    outline: none;
}

.campo-formulario textarea {
    resize: vertical;
}

button[type="submit"] {
    display: block;
    width: 100%;
    padding: 14px;
    background-color: #047E2B;
    color: white;
    font-size: 1em;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.1s;
    margin-top: 25px;
}

button[type="submit"]:hover {
    background-color: #008796;
}

button[type="submit"]:active {
    transform: translateY(1px);
}

/* Estilo BOTONES */
.selectorr-idiomas {
    display: flex;
    gap: 5px;
    align-items: center;
  }
  
  .button {
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc;
    padding: 4px 8px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s ease;
    text-transform: uppercase;
  }
  
  .button:hover {
    background-color: #333;
    color: #fff;
    border-color: #333;
  }
  
  .button.active {
    background-color: #333;
    color: #fff;
    border-color: #333;
  }