#register-modal {
  position: fixed;
  inset: 0;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  backdrop-filter: blur(10px);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 51, 57, 0.6) 50%,
    rgba(0, 0, 0, 0.5) 100%
  );
}

#register-toggle:checked ~ #register-modal {
  display: flex;
}

.modal-overlay {
  position: absolute;
  inset: 0;
  backdrop-filter: blur(4px);
  cursor: pointer;
}

.register-box .login {
  color: blue;
}

.register-box {
  position: relative;
  background: #ffffff;
  color: #fff;
  padding: 2.5rem;
  border-radius: 1rem;
  width: 90%;
  max-width: 420px;
  animation: fadeInUp 0.4s ease forwards;
  max-height: 90vh;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 2;
}

.register-close {
  position: absolute;
  top: 1rem;
  right: 1.2rem;
  font-size: 1.5rem;
  color: rgba(255,255,255,0.7);
  cursor: pointer;
}

.nav-register {
  display: block;
  padding: 10px 15px;
  cursor: pointer;
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.nav-register:hover {
  background: rgba(255,255,255,0.1);
}

h1 {
  text-align: center;
  font-weight: 600;
  margin-bottom: 1.5rem;
  color: rgb(0, 0, 0);
}

.register-box label {
  color: rgb(0, 0, 0);
  font-size: 0.9rem;
}

.account-type {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1.5rem;
}

.account-type button {
  background: none;
  border: 1px solid #003639;
  color: #003639;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}

.account-type button.active {
  background: #003639;
  color: #ffffff;
  font-weight: 600;
}

.account-type button:hover {
  background-color: rgb(3, 141, 156);
  transform: scale(1.03);
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

label {
  font-size: 0.9rem;
  color: #bbb;
}

input, select {
  padding: 0.6rem;
  border: 1px solid #ccc;

  border-radius: 0.4rem;
  background: #ffffff;
  color: #000000;
  transition: 0.3s;
}

input:focus, select:focus {
  border-color: #003339;
  outline: none;
  color: #fff;
  background: #0f0f0f;
}

input[type="submit"] {
  background-color: #003339;;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.6rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  margin-top: 0.5rem;
}

input[type="submit"]:hover {
  background-color: rgb(3, 141, 156);
  transform: scale(1.03);
}

.form-section {
  opacity: 0;
  transform: translateY(10px);
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease;
  padding: 0;
  width: 100%;
}

.form-section.active {
  opacity: 1;
  transform: translateY(0);
  overflow: visible;
  max-height: 1000px;
}

.register-box::-webkit-scrollbar {
  width: 6px;
}

.register-box::-webkit-scrollbar-thumb {
  background: #003639;
  border-radius: 10px;
}

.register-box::-webkit-scrollbar-track {
  background: transparent;
}

@keyframes fadeInUp {
  from { opacity: 0; transform: translateY(30px); }
  to { opacity: 1; transform: translateY(0); }
}

.login{
  cursor: pointer;
}

.login:hover{
  color: #003639;
}