#login-toggle:checked ~ #login-modal {
  opacity: 1;
  visibility: visible;
  backdrop-filter: blur(10px) brightness(0.7);
}

#login-modal {
  position: fixed;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(10px);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0.5) 0%,
    rgba(0, 51, 57, 0.6) 50%,
    rgba(0, 0, 0, 0.5) 100%
  );

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease, backdrop-filter 0.4s ease;
  z-index: 3000;
}

.modal-overlay {
  position: absolute;
  inset: 0;
  cursor: default;

}

.login-box {
  position: relative;
  z-index: 1;

  border-radius: 12px;
  padding: 2rem;
  width: 320px;
  background-color: white;

  transform: translateY(-40px) scale(0.95);
  opacity: 0;
  transition: all 0.4s ease;
}

#login-toggle:checked ~ #login-modal .login-box {
  opacity: 1;
  transform: translateY(0) scale(1);
}

.login-box h1 {
  text-align: center;
  margin-bottom: 1.5rem;
  color: rgb(0, 0, 0);
  font-size: 1.6rem;}